:root {
  --font-color: #ffffff; /* replace with your preferred color */
}

#appContainer {
  margin: 1rem 0 !important ;
  padding: 2rem 3rem;
  background-color: #F5F5F5;
  min-width: 100%;
}

#root {
  margin: 0px ;
  padding: 0px ;
}

html, body {
  margin: 0;
  flex-direction: column
}

.custom-colors-nav, #custom-nav {
  padding: 1.2rem 2rem;
  background-color: #ffffff !important;
  min-width: 100%;
  
}

#mainHeader{
  margin-bottom: 0.5em;
}

#introText{
  margin-bottom: 3.5em;
}

.product-col {
  margin-bottom: 1rem; /* Adjust as needed */
}
/* #brand-col, #sign-in-color, .navbar-brand, #custom-nav {
  color: var(--font-color);

} */

#brand-col{
  color: #0F612A;
  font-weight: bolder;
  font-size: x-large;
}
.top-bar{
  background-color: #ffffff !important;
  min-height: 1rem;
}

#productDetailsImage{
   width: 16rem;
   height: 16rem;
}

.hide-input-arrows {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.hide-input-arrows::-webkit-inner-spin-button,
.hide-input-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}