:root {
  --font-color: #ffffff; 
}

#appContainer {
 
  margin-top: 1rem !important ;
  padding: 2rem 3rem;
  background-color: #F5F5F5;
  min-width: 100%;
  flex: 1;
}

#custom-container{
  margin: 1rem 0 !important ;
  padding: 0 2rem;
  min-width: 100%;
}

#root {
  margin: 0px ;
  padding: 0px ;
  min-width: 58%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  margin: 0;
  flex-direction: column
}

.custom-colors-nav, #custom-nav {
  padding: 1.2rem 2rem;
  background-color: #ffffff !important;
  min-width: 100%;
  
}

#mainHeader{
  margin-bottom: 0.5em;
}

#introText{
  margin-bottom: 3.5em;
}

.product-col {
  margin-bottom: 1rem; 
}

#brand-col{
  color: #0F612A;
  font-weight: bolder;
  font-size: x-large;
}
.top-bar{
  background-color: #ffffff !important;
  min-height: 1rem;
}

#productDetailsImage{
   width: 16rem;
   height: 16rem;
}

.product-details-container {
  max-width: 1200px;
  margin: 0 auto;
}

.quantity-control {
  display: flex;
  justify-content: space-between;
  width: 60%;
 margin-top: 5% ;
}

.quantity-input {
  text-align: center;
}

.total{
 margin-top: 17%;
 font-size: medium;
}
.hide-input-arrows::-webkit-inner-spin-button,
.hide-input-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-accordion{
  margin-top: 6%;
  max-width: 45rem;; 
  word-wrap: break-word;
}
.custom-accordion button {
  background-color: #F5F5F5 !important;
}

.cart-button{
  width: 60%;
  margin-top: 4%;
  background-color: #0F612A !important;
  border-color: #0F612A !important;
}

.orders-btn{
  margin-top: 2rem;
}

.cart-button:hover, .shopping-cart-btn:hover, .emailsubmit-btn:hover, .order-btn:hover{
  background-color: #083517 !important;
  border-color: #083517 !important;
}

.shopping-cart-btn, .emailsubmit-btn, .order-btn{
  background-color: #0F612A !important;
  border-color: #0F612A !important;
}


.custom-breadcrumb a {
  color: #0F612A !important;
}

.green-button{
  background-color: #0F612A !important;
  border-color: #0F612A !important;
}

.green-button:hover{
  background-color: #083517 !important;
  border-color: #083517 !important;
}

.account-button, .register-button{
  margin: 1% 0 3% 0 !important;
}

@media (max-width: 992px) {
  .navbar-item {
    margin-bottom: 1rem !important;
  }
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.order-heading, .cart-title{
  margin-bottom: 2rem;
}

footer {
  background-color: #000;
  color: #fff; 
  padding: 1rem 0; 
  margin-top: 2rem !important;
}