.container {
  margin: 10px auto;
}

#root {
  margin: 0px auto;
  padding: 0px auto;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    flex-direction: column;
}

